.aboutContainer {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.aboutTitle {
  text-align: center;
  margin-bottom: 1rem;
}
.aboutSection {
  line-height: 1.5;
  text-align: justify;
}
.aboutSection p {
  margin-bottom: 1rem;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .aboutContainer {
    width: 100%;
    padding: 0.1rem;
  }
  .aboutTitle {
    font-size: 1em;
    text-align: center;
    margin-bottom: 1rem;
  }
  .aboutSection {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
  }
  .aboutSection p {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1025px) {
  .aboutContainer {
    width: 80%;
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
  }

  .aboutTitle {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2rem;
  }

  .aboutSection {
    font-size: 1.2em;
    line-height: 1.8;
    text-align: left;
  }

  .aboutSection p {
    margin-bottom: 1.5rem;
  }
}
