.aboutContainer {
  width: 100%;
  padding: 0.8rem;
  margin: 0 auto;
}
.aboutTitle {
  text-align: center;
  margin-bottom: 1rem;
}
.aboutSection {
  line-height: 1.5;
  text-align: justify;
}
.aboutSection p {
  margin-bottom: 1rem;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .aboutContainer {
    width: 100%;
    padding: 2rem;
    background-color: none;
  }
  .aboutTitle {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1rem;
  }
  .aboutSection {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
  }
  .aboutSection p {
    margin-bottom: 1rem;
    font-size: 1.3em;
  }
}

@media (min-width: 1025px) {
  .aboutContainer {
    width: calc(80% - 80px);
    margin-left: 14rem;
  }

  .aboutTitle {
    display: none;
  }

  .aboutSection {
    font-size: 1.2em;
    line-height: 1.8;
  }

  .aboutSection p {
    margin-bottom: 1.5rem;
  }
}
