.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--rgb5);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: var(--rgb2);
  }
  