.ctas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  .secondary {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
  }