.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem;
  background-color: var(--rgb1); 
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px var(--rgb1); 
  text-align: center;
}
.secondary {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}