.footContainer {
  padding: 7rem;
  font-family: var(--font-primary);
}
.footer {
  display: flex;
  text-align: center;
}
.a {
  padding: 0 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
.a:hover {
  text-decoration: underline;
}
