/* Importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Indie+Flower&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--foreground);
}
a {
  text-decoration: none;
  color: var(--rgb8);
}
li {
  list-style: none;
  margin: 8px 0;
}
body {
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.8em;
  padding: 3rem;
}
/* Tema claro (por defecto, fuera de .dark) */
:root {
  --rgb0: rgb(255, 255, 255);
  --rgb1: rgb(240, 240, 240);
  --rgb2: rgb(150, 150, 150);
  --rgb3: rgb(120, 120, 120);
  --rgb4: rgb(90, 90, 90);
  --rgb5: rgb(200, 200, 200);
  --rgb6: rgb(170, 170, 170);
  --rgb7: rgb(60, 60, 60);
  --hover-bg: rgb(230, 230, 230);
  --hover-color: rgb(0, 0, 0);
  --font-first: 'Roboto Mono', monospace;
  --font-second: 'Urbanist', sans-serif;
  --font-third: 'Cormorant SC', serif;
  --background: rgb(255, 255, 255);
  --foreground: rgb(30, 30, 30);
}
.dark {
  --rgb0: rgb(38, 46, 97);
  --rgb1: rgb(10, 40, 54);
  --rgb2: rgb(92, 158, 187);
  --rgb3: rgb(66, 143, 176);
  --rgb4: rgb(71, 184, 204);
  --rgb5: rgb(17, 19, 20);
  --rgb6: rgb(80, 120, 116);
  --rgb7: rgb(52, 55, 58);
  --hover-bg: rgb(106, 117, 122);
  --hover-color: rgb(8, 6, 6);
  --font-first: 'Roboto Mono', monospace;
  --font-second: 'Inerti', sans-serif;
  --font-third: 'Cormorant SC', serif;
  --background: rgb(50, 61, 131);
  --foreground: rgb(214, 214, 214);
}


.button {
  background-color: transparent;
  border: none;
  width: 30px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    font-size: 0.8em;
    padding: 3rem;
  }

  a {
    font-size: 0.8em;
    word-wrap: break-word;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 1em;
    padding: 3rem;
  }

  a {
    font-size: 0.8em;
    word-wrap: break-word;
  }
  .button {
    background-color: transparent;
    border: none;
    width: 30rem;
}
}