/*Importar fuentes*/
@font-face {
  font-family: 'Geist Mono';
  src:url('/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geist VF';
  src:url('/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

/*Paleta de colores*/
:root {
  --rgb1: rgb(1, 80, 115);
  --rgb2: rgb(14, 125, 172);
  --rgb3: rgb(22, 154, 211);
  --rgb4: rgb(28, 187, 216);
  --rgb5: rgb(169, 229, 255);
  --rgb6: rgb(255, 255, 255);
  --background: rgb(14, 125, 172);
  --foreground: rgb(1, 80, 115);
  
}

/*Tpografía*/
:root {
  --font-primary: 'Geist Mono';
  --font-secundary: 'Geist VF';
}

/*Estilos Generales*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #5a5252;
    --foreground: #e2e1fb;
  }

  html {
    color-scheme: dark;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--rgb5);
  background: var(--background);
  font-family: var(--font-secundary); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
