.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* La altura ocupa toda la ventana */
  background-color: #f8f9fa; /* Fondo claro */
}

.header {
  flex: 0 0 auto; /* Fija la altura del header */
  background-color: #343a40; /* Fondo oscuro */
  color: #fff; /* Texto claro */
  padding: 1rem;
}

.navbar {
  flex: 0 0 auto; /* Fija la altura del navbar */
  background-color: #495057; /* Color de fondo */
  color: #fff; /* Texto claro */
  padding: 0.5rem 1rem;
}

.content {
  flex: 1; /* El contenido ocupa el espacio restante */
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es largo */
  padding: 1rem;
}

.footer {
  flex: 0 0 auto; /* Fija la altura del footer */
  background-color: #212529;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}
