/* .page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: rgb(4, 10, 33);
  --button-secondary-hover: rgb(4, 10, 33);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}


.main code {

  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas .primary{
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.primary {
  background: var(--foreground);
  color: var(--rgb5);
  gap: 8px;
}

.secondary {
  display: flex;
  align-items: center;
  gap: 8px;
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.foto {
  width: 17rem;
  height: 13rem;
  border-radius: 50%; 
}

/* Enable hover only on non-touch devices */
 /* @media (hover: hover) and (pointer: fine) {
  .primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  .secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
    color: inherit;
    text-decoration: none;
  }
} 

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .ctas  {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
    flex-direction: column;
  }

 .secondary {
    min-width: auto;
  }

} 
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}  */ 
