.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .icon {
    transition:
      filter 0.3s ease,
      transform 0.3s ease;
  }
  .icon:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
  }
}

@media (min-width: 1025px) {
  .icon {
    transition:
      filter 0.3s ease,
      transform 0.3s ease;
  }
  .icon:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
  }
}
