.icon {
  filter: grayscale(100%);
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
}
.icon:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.iconsContainer {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .icon {
    display: inline-block;
    width: 1rem;
    height: 2rem;
    filter: grayscale(100%);
    transition:
      filter 0.3s ease,
      transform 0.3s ease;
  }
  .icon:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  .iconsContainer {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .icon {
    display: inline-block;
    width: 1rem;
    height: 2rem;
    filter: grayscale(100%);
    transition:
      filter 0.3s ease,
      transform 0.3s ease;
  }
  .icon:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  .iconsContainer {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
  }
}
