.insightsContainer {
  min-height: 100vh;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--background);
  color: var(--foreground);
}

.insightsCategory {
  margin-bottom: 3rem;
  padding: 1rem;
  border: 1px solid var(--rgb3);
  border-radius: 8px;
  background-color: var(--rgb2);
}

.categoryTitle {
  font-size: 1.8em;
  font-family: var(--font-first);
  margin-bottom: 0.5rem;
}

.categoryDescription {
  font-size: 1.2em;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.insightsList {
  list-style: none;
  padding: 0;
}

.insightsList li {
  margin-bottom: 0.5rem;
}

.insightsList a {
  color: var(--hover-bg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.insightsList a:hover {
  color: var(--hover-color);
}

@media (min-width: 481px) and (max-width: 1024px) {
  .insightsContainer {
    height: 100vh;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
  }

  .insightsCategory {
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid var(--rgb3);
    border-radius: 8px;
    background-color: var(--rgb2);
  }

  .categoryTitle {
    font-size: 1.8em;
    font-family: var(--font-first);
    margin-bottom: 0.5rem;
  }

  .categoryDescription {
    font-size: 1.2em;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  .insightsList {
    list-style: none;
    padding: 0;
  }

  .insightsList li {
    margin-bottom: 0.5rem;
  }

  .insightsList a {
    color: var(--hover-bg);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .insightsList a:hover {
    color: var(--hover-color);
  }
}

@media (min-width: 1025px) {
  .insightsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    min-height: 100vh;
    width: calc(80% - 80px);
    margin-left: 14rem;
  }

  .insightsCategory {
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px solid var(--rgb3);
    border-radius: 8px;
    background-color: var(--rgb2);
  }

  .categoryTitle {
    font-size: 1.8em;
    font-family: var(--font-first);
    margin-bottom: 0.5rem;
  }

  .categoryDescription {
    font-size: 1.2em;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  .insightsList {
    list-style: none;
    padding: 0;
  }

  .insightsList li {
    margin-bottom: 0.5rem;
  }

  .insightsList a {
    color: var(--hover-bg);
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .insightsList a:hover {
    color: var(--hover-color);
  }
}
