.linkItem {
  color: var(--rgb3);
  transition: all 0.5s ease;
}
.linkItem:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}
.link {
  background-color: transparent;
  border-radius: 2rem;
  color: inherit;
}

@media (min-width: 1025px) {
  .linkItem {
    color: var(--rgb3);
    transition: all 0.5s ease;
  }
  .linkItem:hover {
    color: var(--hover-color);
    transform: scale(1.1);
  }
  .link {
    background-color: transparent;
    border-radius: 2rem;
    color: inherit;
  }
}
