.linkItem {
  color: var(--rgb2);  
  transition: all 0.5s ease; 
}
.linkItem:hover {
  background-color: var(--hover-bg); 
  color: var(--hover-color); 
  transform: scale(1.1); 
}
.link {
 background-color: transparent;
 border-radius: 2rem;
}
