.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-third);
  color: var(--rgb0);
}
.logoTitle {
  color: var(--rgb1);
  text-shadow: 2px 2px 4px var(--rgb6);
  transition: transform 0.2s ease-in-out;
}
.logoTitle:hover {
  transform: scale(1.01);
  color: var(--rgb5);
}
