.logo {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 2;
  }
  to {
    opacity: 2;
  }
}
.logoTitle {
  font-family: var(--font-third);
  font-weight: 500;
  color: var(--rgb5); 
  transition: color 0.3s ease, transform 0.3s ease;
}
.logoTitle:hover {
  color: var(--hover-color); 
  animation: fadeIn 0.5s ease-out;
  transform: scale(1.1);
}

