.profile {
  display: flex; 
  align-items: center; 
  box-shadow: 0 4px 10px var(--rgb0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 1rem;
}
.profile:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px var(--rgb0); 
}
