.projectsSection {
  margin: 1rem;
  padding: 8rem;
  box-sizing: border-box;
  background-color: var(--rgb4);
  
  }
  .projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .projectCategory {
    border: 1px solid var(--rgb0);
    padding: 4rem;
    border-radius: 0.5rem;
  }
  .categoryTitle {
    color: var(--rgb0);
    margin-bottom: 0.5rem;
    font-family: var(--font-third);
  }
  .categoryDescription {
    margin-bottom: 1rem;
    color: var(--rgb7);
    font-family: var(--font-second);
  }
  .projectList {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.1rem;
  }
  