.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
}

.main {
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px var(--rgb0);
  width: 90%;
}
