.skillsSection {
  padding: 7rem;
  background-color: var(--rgb6);
}
.skillsTitle {
  font-family: var(--font-third);

  color: var(--rgb6);
  text-transform: uppercase;
  letter-spacing: 3px;
  background: var(--rgb0);
  text-align: center;
  text-shadow: 2px 2px 4px var(--title-shadow);
  border-bottom: 3px solid rgba(14, 125, 172, 0.5);
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.skillCategory {
  flex: 1;
  min-width: 200px;
}

.categoryTitle {
  background-color: transparent;
}

.skillList {
  list-style: none;
  padding: 0;
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
