.socialLink {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  font-family: var(--font-first);
}
.socialLink:hover {
  transform: scale(1.5);
}
.icon {
  background-color: transparent;
}
.icon:hover {
  transform: scale(1.5);
}
