.socialLink {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espacio entre el ícono y el texto */
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  transition:
    transform 0.2s ease,
    color 0.3s ease;
}

.socialLink:hover {
  transform: scale(1.05);
}
