.spinner {
  border: 4px solid var(--rgb7);
  border-left-color: var(--rgb4);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  position: relative;
  margin-top: 6rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  