.subtitulo {
  text-align: center;
  margin-bottom: 20px;
  background-color: aqua;
}

.h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e61414;
  margin-bottom: 10px;
  background-color: blue;
}

.p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  background-color: blue;
}
