.subtituloContainer {
  position: relative; 
  height: 150px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.textoVisible {
  position: absolute; 
  width: 100%;
  text-align: center;
  opacity: 0; 
}

.textoVisible h2 {
  font-size: 2rem;
  color: #1e293b;
}

.textoVisible p {
  font-size: 1.2rem;
  color: #4b5563;
}
