.subtitulo {
  margin: 2rem 0; 
  padding: 0 1rem; 
  background-color: var(--rgb2); 
  box-shadow: 0 4px 8px var(--rgb0); 
  transition: background-color 0.3s ease; 
}

.subtitulo:hover {
  background-color: var(--hover-bg);
}

.h2 {
  font-size: 2rem; 
  font-weight: 600; 
  color: var(--rgb0); 
  margin-bottom: 1.3rem; 
  text-align: center; 
  transition: opacity 0.3s ease;
}

.subtitulo:hover .h2 {
  opacity: 0.8; 
}

.p {
  font-size: 1.125rem; 
  color: var(--rgb5); 
  line-height: 1.6; 
  text-align: justify;
  margin-bottom: 1.5rem; 
}

@media (max-width: 768px) {
  .subtitulo {
    padding: 1rem; 
  }

  .h2 {
    font-size: 1.5rem; 
  }

  .p {
    font-size: 1rem; 
  }
}

  