.typedText {
  display: inline-block;
  font-size: 2rem;
  font-family: var(--font-secondary);
  white-space: nowrap;
  overflow: hidden; 
  border-right: 2px solid #333;
  padding-right: 0.1rem;
  animation: typing 4s steps(40) 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: 100%; 
  }
}

@keyframes blink {
  50% {
    border-color: transparent; 
  }
}
