@media (max-width: 480px) {
  .textContainer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  .typedText {
    animation:
      typing 5s steps(30) 1 normal both,
      blink 1s step-end infinite;
  }
  .titleText {
    font-family: var(--font-first);
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  @keyframes blink {
    50% {
      border-color: var(--hover-bg);
    }
  }
}
@media (max-width: 768px) {
  .textContainer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  .typedText {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--rgb0);
    padding-right: 0.1rem;
    animation:
      typing 5s steps(30) 1 normal both,
      blink 1s step-end infinite;
  }
  .titleText {
    font-family: var(--font-first);
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 67%;
    }
  }
  @keyframes blink {
    50% {
      border-color: var(--hover-bg);
    }
  }
}
