.link {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
}
.image {
  width: 2rem;
  height: 2rem;
}
@media (min-width: 1025px) {
  .link {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  .link:hover {
    transform: scale(1.1);
    background-color: var(--rgb8);
  }
}
